name: Build APK

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/upload-artifact@v4

      - name: Install system dependencies
        run: |
          sudo apt update
          sudo apt install -y python3 python3-pip python3-venv \
            git zip unzip openjdk-17-jdk autoconf libtool pkg-config \
            zlib1g-dev libncurses5-dev libncursesw5-dev libtinfo5 \
            cmake libffi-dev libssl-dev

      - name: Install buildozer
        run: |
          pip install --upgrade pip
          pip install Cython buildozer virtualenv

      - name: Build APK
        run: |
          buildozer android debug

      - name: Upload APK 
        uses: actions/upload-artifact@v4
        with:
          name: BankApp-APK
          path: bin/*.apk
